body {
	width: 100%;
	background-image: url("assets/images/cheap.png");
}


h1, h2, h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

h1 {
	color: white;
	background: #4aaaa5;
	width: 300px;
	padding-top: 30px;
	padding-bottom: 27px;
	text-align: center;
	font-size: 24px;
	float: left;
	margin-left: 305px;
}

h2 {
	color: #4aaaa5;
	padding-top: 15px;
	padding-bottom: 0px;
	margin-left: 5px;
	font-weight: bold;
	font-size: 22px;
}


h3 {
	color: #4aaaa5;
	padding-top: 15px;
	font-weight: bold;
}

p {
	line-height: 25px;
}

p, li {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}

ul {
	margin-right: 262px;
	padding-right: 10px;
}

li {
	margin-top: 20px;
	margin-right: 120px;

}

hr {
	margin-top: 20px;
	margin-left: 5px;
	margin-right: 40px;
	margin-bottom: 20px;
}

#connect-info hr {
	margin: 20px 30px 20px 30px;
}
nav {
	background: white;
	height: 75px;
	width: 100%;
	border-bottom: 3px solid #cccccc;
	padding-top: 5px;
}


nav a {
	margin-right: 10px;
	float: right;
	color: #777777;
	padding-right: 10px;
	padding-top: 10px;
	text-decoration: none;
}

#about {
	border-right: 2px solid #777777;
	border-right-style: height: 4px;
}
.container {
	width: 960px;
	margin: 0 auto;
	}

#main-bio,
#bio-image {
	float: left;
}

#bio-image {
	padding-left: 20px;
	width: 200px;
	height: 200px;
	margin-right: 15px;
}

#main-bio {
	width: 527px;
	background: #ffffff;
	overflow: auto;
	float: left;
	margin: 20px 20px 30px 30px;
	height: 400px;
	color: #777777;
	border: 1px solid: #dddddd;
	padding-left: 20px;
	padding-bottom: 55px;
	padding-top: 20px;
}

#connect-info {
	float: left;
	width: 270px;
	background: white;
	height: 150px;
	margin-top: 25px;
	text-align: center;
}

#linkedin-image,
#github-image,
#stack-image {
	width: 50px;
	height: 50px;
	margin: 5px;
}

#form {
	float: left;
	width: 454px;
	background: #ffffff;
	margin: 20px 55px 20px 26px;
	padding-left: 20px;
	border: 1px solid #dddddd;
	padding-bottom: 25px;
	color: #777777;
}

#portfolio {
	float: left;
	width: 510px;
	background: #ffffff;
	margin: 20px 30px 20px 30px;
	border: 2px solid #dddddd;
	padding-bottom: 25px;
	color: #777777;
}

#portfolio h2 {
	margin-left: 20px;
}

input[type=text] 
{
	margin-top: 10px;
	margin-bottom: 10px;
	color: #777777;
	width: 408px;
	height: 25px;
}

input[type=submit] {
	width: 120px;
	height: 50px;
	background: #4aaaa5;
	color: white;
	font-size: 18px;
}

input[type=E-mail] {
	color: #777777;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 408px;
	height: 25px;
}

textarea {
	width: 410px;
	height: 128px;
	margin-top: 10px;
}


.footer {
	position: absolute;
	background: #666666;
	height: 68px;
	color: white;
	text-align: center;
	vertical-align: middle;
	line-height: 60px;
	border-top: 6px solid #4aaaa5;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	clear: both;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}


.hangman {
	position: relative;
}

.hangman p {
	position: absolute;
	top: 100px;
	left: 0;
	width: 201px;
	color: white;
	background: #4aaaa5;
	text-align: center;
	margin-left: 25px;
}


#pimage1 {
	width: 201px;
	height: 148px;
	float: left;
	margin-left: 25px;
	margin-top: 20px;
}

#pimage2 {
	width: 201px;
	height: 148px;
	float: left;
	margin-left: 50px;
	margin-top: 20px;
}

#pimage3 {
	width: 201px;
	height: 148px;
	clear: both;
	float: left;
	margin-left: 25px;
	margin-top: 40px;
}

#pimage4 {
	width: 201px;
	height: 148px;
	float: left;
	margin-left: 50px;
	margin-top: 40px;
}

#pimage5 {
	width: 201px;
	height: 148px;
	float: left;
	margin-left: 25px;
	margin-top: 40px;
}

@media screen and (max-width: 980px) {
	.container {
		width: 100%;
	}

	h1 {

		margin-left: 28px;
		width: 160px;
		font-size: 18px;
		padding-bottom: 33px;
	}

	li {

		margin-right: 25px;
	}

	#main-bio {
		width: 243px;
		height: 483px;
		margin-bottom: 35px;
	}

	#bio-image {
		width: 100%;
	}

	#connect-info {
		width: 156px;
		height::116px;
	}

	#linkedin-image,
	#github-image,
	#stack-image {

	width: 29px;
	height: 32px;
	margin: 2px;
}
	.footer {
		width: 100%;
	}

}

@media screen and (max-width: 768px) {
	.container {
		width: 100%;
	}

	#main-bio {
		width: 100%;
	}

	#connect-info {
		width: 100%;
	}

	.footer {
		width: 100%;
	}
}

@media screen and (max-width: 640px) {
	.container {
		width: 100%;
	}

	#main-bio {
		width: 100%;
	}

	#connect-info {
		width: 100%;
	}
}